.container {
    background: #f8f9fa;
    position: fixed;
    color: black;
    max-width: 1200px;
    width: 100%;
    min-height: 26px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between; 
  
    h1 {
      font-size: 1.5em;
      font-weight: 400;
      margin-left: 130px;
    }
  
    button {
      background:#007bff;
      width: 60px;
      height: 31px;
      color: white;
      border-radius: 5px;
      border: none;
      margin-right: 130px;
      cursor: pointer;
    }
  }
  