@media (max-width: 868px) {
    .section-2 .field2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .chess-section .column-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .chess-section .column-right img {
        width: 100%;
        height: 75%;
    }

    .chess-section .column-right .article-text {
        width: 100%;
        height: 500px;
        margin-top: 250px;
        margin-left: 15%;
        inline-size: 500px;
    }

    .chess-section .column-left {
        display: flex;
        flex-direction: column-reverse;
    }

    
    .chess-section .column-left img {
        width: 100%;
        height: 75%;

    }

    .chess-section .column-left .article-text {
        width: 100%;
        height: 500px;
        margin-top: 250px;
        margin-left: 15%;
        inline-size: 500px;
    }

    .section-3 .faces {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

}

@media (max-width: 320px) {
    .container {
        max-width: 100%;
        display: flex;
        justify-content: space-between; 
    }

    .container button {
        margin-left: 80px;
        padding: 3px 15px;
        height: 35px;
    }

    .container h1{
        margin-left: 50px;
    }

    .section-1 .field {
        font-size: 1.2em;
    }

    .section-1 .field button {
        width: 280px;
        margin-top: 10px;
    }

    .chess-section .column-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .chess-section .column-right img {
        width: 100%;
        height: 75%;
    }

    .chess-section .column-right .article-text {
        width: 100%;
        height: 500px;
        margin-top: 150px;
        margin-left: 10%;
        inline-size: 200px;
    }

    .chess-section .column-left {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .chess-section .column-left img {
        width: 100%;
        height: 75%;

    }

    .chess-section .column-left .article-text {
        width: 100%;
        height: 500px;
        margin-top: 150px;
        margin-left: 10%;
        inline-size: 200px;
    }

    .section-4 .field-2 h2 {
        font-size: 20px;
    }

    .section-4 .field-2 input {
        width: 100%;
    }

    .section-4 .field-2 button {
        width: 100%;
        margin-top: 10px;
    }

    footer .nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav .icons {
        margin-top: -40px;
    }
}