.section-4 {
    background-image: url(../images/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
  }
  
  .field-2 {
    position: absolute;
    color: white;
    font-size: 1em;
    text-align: center;
  
    input {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 3px;
      margin-top: 25px;
    }
  
    button {
      background:#007bff;
      width: 95px;
      height: 31px;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }