.section-1 {
    background-image: url(../images/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
  }
  
  .field {
    position: absolute;
    color: white;
    font-size: 1.5em;
    text-align: center;
  
    input {
      border: none;
      width: 280px;
      height: 30px;
      border-radius: 3px;
      margin-top: 25px;
    }
  
    button {
      background:#007bff;
      width: 95px;
      height: 31px;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }