.section-3 {
    background: #f8f9fa;
    min-height: 350px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h1 {
      margin-top: 50px;
      margin-bottom: -50px;
      text-align: center;
    }
  }
  
  .faces {
    display: flex;
    min-height: 500px;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  
    img {
      width: 200px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 90px;
      border-radius: 360px;
    }
  
    h2 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    p {
      text-align: center;
      inline-size: 250px;
    }
  
  }