@import "general.scss";
@import "header.scss";
@import "navigation.scss";
@import "icons.scss";
@import "chess.scss";
@import "people.scss";
@import "navbar.scss";
@import "footer.scss";
@import "media.scss";